---
import Debug from "astro/components/Debug.astro";
import PostDate from "../components/PostDate.astro";
import Tag from "../components/Tag.astro";
import TableOfContents from "../components/TableOfContents.astro";
import FootnotesSidebar from "../components/FootnotesSidebar.astro";
import MainLayout from "./MainLayout.astro";
import "../styles/blog-post.css";
import type { FootnoteData } from "../plugins/footnotes";

const { frontmatter, headings } = Astro.props;
const tagsString = frontmatter.tags as string;
const tagsArray = tagsString?.split(" ") || [];
const showToc = frontmatter.toc === true && headings && headings.length > 0;
const footnotes = (frontmatter.footnotes as FootnoteData[]) || [];
---

<MainLayout pageTitle={frontmatter.title}>
	<div class="blog-layout">
		<aside class="left-sidebar">
			<a href="/" class="font-bold text-lg block mb-2">James Harris</a>
			{showToc && <TableOfContents headings={headings} />}
		</aside>
		<article class="blog-content">
			<h1
				class="mt-4"
				transition:name={`post-title-${Astro.url.pathname}`}
			>
				{frontmatter.title}
			</h1>
			<div class="flex flex-row gap-1 mb-4">
				<PostDate date={frontmatter.pubDate} />
				{tagsArray.map((tag) => <Tag name={tag} />)}
			</div>
			<slot />
		</article>

		<aside class="right-sidebar">
			<FootnotesSidebar footnotes={footnotes} />
		</aside>
	</div>
</MainLayout>
