---
import Debug from "astro/components/Debug.astro";
import PostDate from "../components/PostDate.astro";
import Tag from "../components/Tag.astro";
import TableOfContents from "../components/TableOfContents.astro";
import MainLayout from "./MainLayout.astro";
import '../styles/blog-post.css';

const { frontmatter, headings } = Astro.props;
const tagsString = frontmatter.tags as string;
const tagsArray = tagsString?.split(' ') || [];
const showToc = frontmatter.toc === true && headings && headings.length > 0;
---

<MainLayout pageTitle={frontmatter.title}>
    <div class:list={["blog-layout", { "has-toc": showToc }]}>
        <article class="blog-content">
            <h1 class="mt-4" transition:name={`post-title-${Astro.url.pathname}`}>{frontmatter.title}</h1>
            <div class="flex flex-row gap-1 mb-4">
                <PostDate date={frontmatter.pubDate} />
                {tagsArray.map(tag => <Tag name={tag}/>)}
            </div>
            <slot />
        </article>

        {showToc && (
            <aside class="toc-sidebar">
                <TableOfContents headings={headings} />
            </aside>
        )}
    </div>
</MainLayout>